{:paths ["src"]
 :deps {io.pedestal/pedestal.service {:mvn/version "0.5.9"}
        io.pedestal/pedestal.route {:mvn/version "0.5.9"}
        io.pedestal/pedestal.immutant {:mvn/version "0.5.9"}
        io.pedestal/pedestal.jetty {:mvn/version "0.5.7"}
        org.slf4j/slf4j-simple {:mvn/version "1.7.28"}
        org.clojure/java.jdbc {:mvn/version "0.7.12"}
        mysql/mysql-connector-java {:mvn/version "8.0.30"}}}