{:paths ["src"]
 :deps {io.pedestal/pedestal.service {:mvn/version "0.5.9"}
        io.pedestal/pedestal.route {:mvn/version "0.5.9"}
        io.pedestal/pedestal.immutant {:mvn/version "0.5.9"}
        org.slf4j/slf4j-simple {:mvn/version "1.7.32"}
        org.clojure/java.jdbc {:mvn/version "0.7.12"}
        mysql/mysql-connector-java {:mvn/version "8.0.30"}
        com.github.seancorfield/honeysql {:mvn/version "2.4.947"}
        environ/environ {:mvn/version "1.2.0"}}}